@font-face {
  font-family: "Gilroy";
  src: local("./fonts/Gilroy-Medium/Gilroy Medium"), local("Gilroy-Medium"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}
/* Header */
#header{
  background-color: #1ac073;
  color: #ffffff;
  padding-bottom: 40px;
}
.header-navbar {
  margin-left: auto;
  margin-right: auto;
}
#header .navbar-brand,
#footer .navbar-brand {
  font-family: "Squada One", cursive;
  font-size: 32px;
}
.header-navbar ul li {
  margin-left: 30px;
}
#header .header-navbar ul li a,
#footer .header-navbar ul li a {
  color: white;
  font-size: 18px;
}
#header .cart,
#header .search,
#footer .cart,
#footer .search {
  color: white;
  font-size: 22px;
}
.header-introduct {
  margin-top: 40px;
}
.header-left-title {
  margin-top: 20px;
  font-family: "Gilroy";
  font-size: 60px;
  margin-bottom: 30px;
}
.header-left-para {
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-weight: 400;
  margin-bottom: 40px;
}
.input-search::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #929292;
}
#basic-addon2 {
  background-color: #f3ba00;
  color: white;
  font-size: 16px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}
#header .cart-get-items {
  color: #f3ba00;
}
/* Kitchen */
#kitchen {
  background-color: #f7f8fa;
  padding-bottom: 40px;
}
.section-title {
  margin-top: 40px;
  font-family: "Gilroy";
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.btn-kitchen {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 1rem;
}
.filters {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.filters-down {
  margin-top: 30px;
  margin-bottom: 30px;
}
#filter-down-select option {
  font-weight: 600;
  font-size: 16px;
}
.card-box {
  display: flex;
}
.Product-sales-off {
  background-color: #f3ba00;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 7px;
}
.product-introduction {
  display: flex;
  justify-content: space-between;
}
.product-card {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 20px;
}
.card-rating {
  display: flex;
  justify-content: space-between;
}
.card-vote {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}
.card-star {
  display: flex;
  align-items: center;
  background-color: #f7f8fa;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}
.card-star-img {
  margin-right: 5px;
}
.card-star-time {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f7f8fa;
}
.card-kitchen-plus-img {
  width: 20px;
}
.load-more {
  margin-top: 40px;
}
.load-more button {
  font-size: 16px;
  line-height: 20px;
  color: #929292;
}
.btn-add-card-product {
  border: none;
  text-align: center;
  padding: 0px;
  display: flex;
}
/* Blog */
#blog {
  padding-bottom: 40px;
}
.blog-card {
  border: none;
}
.blog-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.blog-para {
  font-size: 12px;
  font-weight: 200;
}
/* contact */
#contact {
  background-color: #f7f8fa;
  padding-bottom: 40px;
}
.contact-title {
  margin-bottom: 10px;
}
.contact-para {
  margin-bottom: 30px;
}
/* Footer */
#footer {
  margin-bottom: 0px;
}
.line {
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 2px solid white;
}
#footer-contact {
  display: none;
}

/* Cart - item */
#cart-items {
  background-color: #ffffff;
  padding-bottom: 40px;
}
.breadcrumb {
  margin-top: 40px;
  margin-bottom: 30px;
}
.breadcrumb-item a {
  color: #1ac073;
}
.head-cart {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}
.cart-product-title {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
.item-pizza {
  display: flex;
  align-content: center;
  align-items: center;
  border: 1px solid rgb(45, 44, 44, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
}
.cart-product-times {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.cart-item-number::-webkit-outer-spin-button,
.cart-item-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-count-for-item {
  background-color: #f6f7f8;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-cart-number {
  color: #1ac073;
  height: 40px;
  border: none;
  background-color: #f6f7f8;
}
.cart-item-number {
  font-weight: 700;
  height: 47px;
  width: 50px;
  background-color: #f6f7f8;
  border: none;
  text-align: center;
}
.cart-product-price,
.product-total-cash {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.cart-remove-item {
  background-color: #ffff;
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  color: #f20505;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}
.cart-footer {
  margin-top: 40px;
}
.cart-search {
  margin-bottom: 15px;
}
#card-voucher {
  background-color: #1ac073;
  color: #ffffff;
}
.pay-section-sub {
  display: flex;
  justify-content: space-between;
}
.pay-section-sub p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.cart-total {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(45, 44, 44, 0.1);
}
.cart-total p{
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.card-img-top{
  max-width: 100%;
}
/* modal */
.modal-header{
  border-bottom: none;
}
.modal-header .close{
  padding: 0px;
  margin: 0px;
}
.button-close{
  color: #1AC073;
  font-size: 25px;
}
.modal-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.title{
  margin-left: 15px;
  color: #1AC073;
  font-family: 'ABeeZee', sans-serif;
  font-size: 30px;
}
.step-checkout{
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  background-color: gray;
  color: white;
  border-radius: 50%;
}
.modal-line {
  width: 15px;
  border: 1px solid #DFDEDE;
}
.color-input{
  background-color: #DFDEDE;
}
.step-color{
  background-color: #1AC073;
}
/* payment-choosen */
.payment-choosen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 5px;
}
.payment-title{
  font-family: "Lexend Deca", sans-serif;
  color: #1AC073;
  font-size: 20px;
  margin-bottom: 10px;
}
.payment-choosen i {
  width: 20px;
  margin-right: 10px;
}
.highlight {
  background-color: #F0FAF7
}
#credit i{
  color: #1AC073;
}
#paypal i{
  color:  #283593;
}
#bank i{
  color: #1AC073;
}
input[type='checkbox'] {
  accent-color: #1AC073;
}
#btn-go-to-payment,
#btn-checkout-sucess{
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-size: 24px;
  background-color: #1AC073;
}
.modal-footer{
  border-top: none;
}
/* modal sucess */
.checkout-sucess{
  width: 70px;
  height: 70px;
  background-color: #1AC073;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-top: 20px;
  margin-bottom: 60px;
  border-radius: 45%;
}
.checkout-sucess i {
  color: white;
  font-size: 40px;
}
@media only screen and (max-width: 992px) {
  #footer-contact {
    display: flex;
  }
  .btn-group {
    display: flex;
    min-width: 600px;
  }
  .product-pro{
    font-size: 16px;
  }
  .head-cart h5{
    font-size: 0.8rem;
  }
  .item-pizza p {
    font-size: 0.7rem;
  }
  .item-pizza span {
    font-size: 0.6rem;
  }
  .item-pizza .cart-remove-item {
    font-size: 0.7rem;
  }
  .item-pizza input {
    width: 20px;
    height: 20px;
  }
}
